.color-1 {
  color: darkmagenta;
}
/* RRGGBB (0-F)*/
.color-2 {
  color: #000000;
}

.color-3 {
  color: #ddd;
}
/* 0-255 */
.color-4 {
  color: rgb(0, 255, 0);
  /* opacity: 0.2; (0-1)*/
}
.color-5 {
  color: rgba(255, 0, 0, 0.5);
}
